@import '../../assets/stylesheets/variables';

.button {
    background-color: var(--color-blue);
    color: white;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}